<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Jeux De Roles{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('.css') }}" />
        {% endblock %}
    </head>
    <body>
        {% block body %}
        
        {% endblock %}
    </body>
</html>
