{% extends 'base.html.twig' %}

{% block body %}
    <button><a href="">START</a></button>
    <form id="selection">
        <input type="text" placeholder ="email"/>
        <input type="text" placeholder ="email"/>
        <input type="text" placeholder ="email"/>
        <input type="text" placeholder ="email"/>
        <input type="submit" value ="Valider"/>
    </form>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('./css/style.css') }}" />
{% endblock %}
