{% extends 'base.html.twig' %}

{% block body %}
    <button><a href="">START</a></button>
    <form id="selection" method="POST" action="{{path('addPlayers')}}">
        <input type="text" name="j1" placeholder ="email"/>
        <input type="text" name="j2" placeholder ="email"/>
        <input type="text" name="j3" placeholder ="email"/>
        <input type="text" name="j4" placeholder ="email"/>
        <input type="submit" value ="Valider"/>
    </form>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('./css/style.css') }}" />
{% endblock %}
